@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


div {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    flex-direction: row;
}

.red {
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


div {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    flex-direction: row;
}

.red {
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
}
